<h1>Simple TODO App</h1>
<app-todo-input></app-todo-input>
<app-todo-lists></app-todo-lists>
<div class="objectives">
  <h2>Coding task objectives and instructions</h2>
  <ul>
    <li>Create a feature branch and name it with your name</li>
    <li>List names can be named sequentially (List name 1, List name 2, ...)</li>
    <li>Deleting a list doesn't need a confirmation</li>
    <li>Focus on architecture and not completing all functionalities</li>
    <li>Use internet or whatever you are comfortable with for help if needed</li>
  </ul>
</div>
