:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: rgba(#ccc, .2);

  .objectives {
    margin-top: 40px;
  }

}
